<?php
use module\sgm\consts\PerfilConsts;
use module\sgm\consts\StatusConsts;
use module\sgm\consts\StringsConsts;
?>
<!-- Conteúdo -->
<style media="print">
.botao {
display: none;
}
</style>
<section class="pg-adicionar form">
   <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2><?php echo $pageTitle; ?></h2>                           
                        </div>
                        <div class="body">
                        <!-- CONTEUDO -->
                        <form role="form" action="adicionar" name="frmUsuario" id="frmUsuario" method="post">
                            <div class="row clearfix ">
                                <div class="col-xs-4 col-lg-3 col-sm-3">
                                    <?php $this->Strings(StringsConsts::PERFIL,'PERFIL')?>
                                    <div class="form-group ">   
                                        <div class="form-line ">
                                                <?php echo PerfilConsts::getValue($objUsuarioVO->getPerfil()); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-lg-3 col-sm-3">
                                   <?php $this->Strings(StringsConsts::CPF,'CPF')?>
                                    <div class="form-group">
                                        <div class="form-line">
                                       <?php echo $objUsuarioVO->getCpf(); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-lg-3 col-sm-3">
                                    <?php $this->Strings(StringsConsts::NOME,'NOME')?>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <?php echo $objUsuarioVO->getNomeUsuario(); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-lg-3 col-sm-3">
                                    <?php $this->Strings(StringsConsts::EMAIL,'EMAIL')?>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <?php echo $objUsuarioVO->getEmail(); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                              <div class="row">
                                <div class="col-xs-4 col-lg-3 col-sm-3">
                                    <?php $this->Strings(StringsConsts::TELEFONE,'TELEFONE')?>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <?php echo $objUsuarioVO->getTelefone(); ?>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                             <div class="row">
                              <div class="col-xs-4 col-lg-3 col-sm-3">
                                    <?php $this->Strings(StringsConsts::CELULAR,'CELULAR')?>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <?php echo $objUsuarioVO->getCelular(); ?>
                                        </div>
                                    </div>
                                </div>
                               </div>
                                  <div class="form-group botao">
                                    <div class="">
                                        <a class="btn bg-grey waves-effect"  href="javascript:window.print()">
                                            <i class="material-icons">print</i>
                                            <span class="m-r-10">Imprimir Registro</span>
                                        </a>    
                                         <a  href="javascript:window.close()" class="btn bg-red waves-effect ">
                                            <i class="material-icons">reply</i>
                                            <span class="m-r-10">Fechar</span>
                                        </a>
                                        
                                       </div>
                                </div>
                        </form>
                        <!--CONTEUDO-->
                    </div>
                </div>
            </div>
            <!-- #FIM teste -->
        </div>
</section>
<!-- #FIM Conteúdo -->
