
<style>


    .body-500{
        background-color:#b92e31;
        color:#fff
    }
    .body-500:before{
        display:none
    }

    .error-header{
        background:#fff;
        padding-top: 72px;
        text-align: center;
        height: 280px;
    }

    @media (max-width: 609px) {
        .error-header img{
            height: 52px!important;
        }
    }
    
    @media (max-width: 360px) {
        .error-header img{
            height: 49px!important;
        }
    }

    .error-header img{
        height: 83px;
    }


    .error-container{
        background:rgba(0,0,0,.05);
        text-align:center
    }

    .error-container h1{
        font-size:110px;
        font-weight:300;
        /*        margin:-103px 0 0 0;*/
        margin:-99px 0 0 0;
        text-align:center;
        color:#b92e31;
    }

    .error-container h2{
        font-size:43px;
        font-weight:300;
        margin:0;
        text-transform:uppercase;
        color: #b02c2f;
            
    }

    .error-container p,.error-container p a{
        font-size:18px;
        font-weight:300;
        margin:0
    }

    .error-container p.description{
        color:#e5e5e5;
        font-size:25px;
        margin:0
    }

    .error-divider{
        margin-top:-27px;
        padding:30px 0
    }

</style>

<body class="body-500"> 
    <div class="error-header">  
        <img src="<?php echo $systemConfig::URL_PUBLIC ?>/all/logo/large-logo-sec-horizontal.png"></div>
    <div class="container ">
        <section class="error-container text-center">
            <h1><?php echo $codigo; ?></h1>
            <div class="error-divider">
                <h2><?php echo $titulo; ?></h2><br>
                <p class="description"><?php echo $descricao; ?></p>
            </div>
            <?php if (isset($descricaoErro)) { ?><p class="description">"<strong><?php echo $descricaoErro; ?></strong>"</p> <?php } ?>
            <br>
            <a href="/inicio" class="btn btn-danger  m-b-15 "><i class="fa fa-home"></i>Ir para tela inicial</a>
        </section>
    </div>
</body>

