<?php

use module\sised\consts\PerfilConsts;
use module\sised\consts\StatusConsts;
?>
<style type="text/css">
    [disabled]{
        cursor: no-drop !important;
    }
</style>  

<!-- Conteúdo -->
<section class="content pg-adicionar">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
<?php echo $pageTitle; ?>
            </h2>
        </div>
        <div class="row clearfix">
            <!-- #INICIO teste -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body clearfix">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <!-- CONTEUDO -->
                            <form role="form" action="alterar" name="frmAlterar" id="frmAdicionar" method="post">
                                <input type="hidden" name="ID_PRODUTO" value="<?php echo $objProdutoVO->getId(); ?>">
                                <div class="row">
                                    <div class="col-md-8  col-sm-12 col-xs-12"> 
                                        <div class="row">

                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                <label for="CODIGO" >Codigo:</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input  type="text" name="CODIGO" class="form-control" id="CODIGO" value="<?php echo $objProdutoVO->getCodigo(); ?>"  maxlength="100" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8  col-sm-12 col-xs-12"> 
                                        <div class="row">

                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                <label for="NOME" >Nome:</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input  type="text" name="NOME" class="form-control" id="NOME" value="<?php echo $objProdutoVO->getNome(); ?>"  maxlength="100" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8  col-sm-12 col-xs-12">  
                                        <label for="ID_UNIDADE" >Unidade:</label>
                                        <div class="form-group">
                                            <div class="form-line">   
                                                <select id="ID_UNIDADE" name="ID_UNIDADE"  class="selectpicker form-control select" data-live-search="true" value="<?php echo $objProdutoVO->getIdUnidade()->getId(); ?>" style="display: none;">                                            
                                                        <?php $this->makeOptions($arrayItUnidade, 'Id', 'Nome',TRUE, $objProdutoVO->getIdUnidade()->getId()); ?>
                                                </select> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-md-8  col-sm-12 col-xs-12">  
                                        <label for="ID_CATEGORIA" >Categoria:</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select id="ID_CATEGORIA" name="ID_CATEGORIA"  class="selectpicker form-control select" data-live-search="true" value="<?php echo $objProdutoVO->getIdCategoria()->getId(); ?>" style="display: none;">                                            
                                                        <?php $this->makeOptions($arrayItCategoria, 'Id', 'Nome',TRUE, $objProdutoVO->getIdCategoria()->getId()); ?>
                                                </select> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-8  col-sm-12 col-xs-12"> 
                                        <div class="row">

                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                <label for="QUANTIDADE" >Quantidade:</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input  type="text" name="QUANTIDADE" class="form-control" id="QUANTIDADE" value="<?php echo $objProdutoVO->getQuantidade(); ?>" maxlength="100" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8  col-sm-12 col-xs-12"> 
                                        <div class="row">

                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                <label for="DESCRICAO" >Descrição:</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input  type="text" name="DESCRICAO" class="form-control" id="DESCRICAO" value="<?php echo $objProdutoVO->getDescricao(); ?>"  maxlength="100" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8  col-sm-12 col-xs-12"> 
                                        <div class="row">

                                            <div class="col-md-12  col-sm-12 col-xs-12 no-red">
                                                <label for="OBSERVACAO" >Observação:</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input  type="text" name="OBSERVACAO" class="form-control" id="OBSERVACAO" value="<?php echo $objProdutoVO->getObservacao(); ?>" maxlength="100" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <a  class="btn bg-green waves-effect border-radius-5 btn-salvar" form-submit>
                                            <i class="material-icons">save</i>
                                            <span class="m-r-10">Salvar</span>
                                        </a>                                    
                                        <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/produto" class="btn bg-orange waves-effect border-radius-5">
                                            <i class="material-icons">reply</i>
                                            <span class="m-r-10">Voltar</span>
                                        </a>

                                    </div>
                                </div>
                            </form>
                            <!--CONTEUDO-->
                        </div>
                    </div><!-- body -->
                </div>
            </div>
            <!-- #FIM teste -->
        </div>
</section>
<!-- #FIM Conteúdo -->
