<!DOCTYPE html>
<!-------------INICIO CABEÇALHO--------------->

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Royal College</title>

        <!-- PLUGINS CSS STYLE -->
        <!--<link rel="icon" type="image/png" href="img/favicon.png">-->
<!--        <img src="<?php echo $systemConfig::URL_CORE_IMG ?>/logo.jpg"/>-->
        <!-- Sweetalert Css -->
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/sweetalert/sweetalert.css" rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/bootstrap/js/bootstrap.min" rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/bootstrap-validator/bootstrapValidator.min.js" rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/selectbox/select_option1.css" rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/flexslider/flexslider.css" type="text/css" media="screen" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/calender/fullcalendar.min.css" rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/animate.css" rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/pop-up/magnific-popup.css" rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/rs-plugin/css/settings.css" media="screen">
        <link href="<?php echo $systemConfig::URL_CORE_PLUGIN ?>//owl-carousel/owl.carousel.css" media="screen">
        <link href="public/all/css/sistema.css">


        <!-- GOOGLE FONT -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,400italic,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>

        <!-- CUSTOM CSS -->

        <link rel="stylesheet" href="<?php echo $systemConfig::URL_CORE_CSS ?>/default.css" id="option_color">


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->






        <!--css-->
        <link href="<?php echo $systemConfig::URL_CORE_CSS ?>/color-option1.css"  rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_CSS ?>/color-option2.css"  rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_CSS ?>/color-option3.css"  rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_CSS ?>/default.css"  rel="stylesheet" />
        <link href="<?php echo $systemConfig::URL_CORE_CSS ?>/style.css"  rel="stylesheet" /><!--
        -->

        <?php foreach ($styles as $style) { ?>
            <link type="text/css" href="<?php echo $systemConfig::URL_PUBLIC ?>/<?php echo $style ?>" rel="stylesheet" />
        <?php } ?>

        <?php foreach ($coreStyles as $style) { ?>
            <link type="text/css" href="<?php echo $systemConfig::URL_CORE_STYLEGUIDE ?>/<?php echo $style ?>" rel="stylesheet" />
        <?php } ?>

        <!-- GOOGLE FONT -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,400italic,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>


    </head>
    <body class="body-wrapper">
        <?php // include "core/view/layout/3-topbar.phtml"; ?>        