<!-- JQUERY SCRIPTS -->
<!--<script src="core/styleguide/plugins/jquery/jquery.min.js"></script>-->
<!--<script src="core/styleguide/plugins/bootstrap/js/bootstrap.min.js"></script>-->
<!--<link href="<?php // echo $systemConfig::URL_CORE_PLUGIN ?>/bootstrap/js/bootstrap.min" rel="stylesheet" />-->
        <!--<link href="<?php // echo $systemConfig::URL_CORE_PLUGIN ?>/bootstrap-validator/bootstrapValidator.min.js" rel="stylesheet" />-->
<!--<script src="core/styleguide/plugins/jquery/jquery-1.11.1.min.js"></script>-->


<!-- Jquery Core Js -->
<script src="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/bootstrap/js/bootstrap.min.js"></script>


<!-- Validation Plugin Js -->
<script src="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/bootstrap-validator/bootstrapValidator.js"></script>


<script src="core/styleguide/plugins/flexslider/jquery.flexslider.js"></script>
<script src="core/styleguide/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="core/styleguide/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="core/styleguide/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="core/styleguide/plugins/pop-up/jquery.magnific-popup.js"></script>
<script src="core/styleguide/plugins/animation/waypoints.min.js"></script>
<script src="core/styleguide/plugins/count-up/jquery.counterup.js"></script>
<script src="core/styleguide/plugins/animation/wow.min.js"></script>
<script src="core/styleguide/plugins/animation/moment.min.js"></script>
<script src="core/styleguide/plugins/calender/fullcalendar.min.js"></script>
<script src="core/styleguide/plugins/owl-carousel/owl.carousel.js"></script>
<script src="core/styleguide/plugins/timer/jquery.syotimer.js"></script>
<script src="core/styleguide/plugins/smoothscroll/SmoothScroll.js"></script>
<!--<script src="core/styleguide/js/custom.js"></script>-->
<script>

    $(window).load(function () {
        $('.version2 ').each(function () {
            var header_area = $('.header-v2');
            var main_area = header_area.children('.header');

            var logo = main_area.find('.navbar-header');
            var navigation = main_area.find('.navbar-collapse');
            var original = {
                nav_top: navigation.css('margin-top')
            };

            $(window).scroll(function () {
                if (main_area.hasClass('bb-fixed-header') && ($(this).scrollTop() === 0)) {
                    main_area.removeClass('bb-fixed-header').appendTo(header_area);
                    navigation.animate({'margin-top': original.nav_top}, {duration: 300, queue: false, complete: function () {
                            header_area.css('height', 'auto');
                        }});
                } else if (!main_area.hasClass('bb-fixed-header') && $(this).width() > 250 &&
                        $(this).scrollTop() > header_area.offset().top + header_area.height() - parseInt($('html').css('margin-top'), 10)) {
                    header_area.css('height', header_area.height());
                    main_area.css({'opacity': '0'}).addClass('bb-fixed-header');
                    main_area.appendTo($('body')).animate({'opacity': 1});

                    navigation.css({'margin-top': '0px'});
                }
            });
        });

        $(window).trigger('resize');
        $(window).trigger('scroll');
    });
    
    
    $(document).ready(function () {
        <?php  echo "SYSTEM_MSG = " . json_encode($systemConfig::SYSTEM_MSG) . ";";  ?>
    });
</script>

<script src="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/modalalert/modal-alert.js" type="text/javascript"></script>

<!-- SweetAlert Plugin Js -->
<script src="<?php echo $systemConfig::URL_CORE_PLUGIN ?>/sweetalert/sweetalert.min.js"></script>

<?php foreach ($scripts as $script) { ?>
    <script src="<?php echo $systemConfig::URL_PUBLIC ?>/<?php echo $script; ?>"></script>       
<?php } ?>

<?php foreach ($coreScripts as $script) { ?>
    <script src="<?php echo $systemConfig::URL_CORE_STYLEGUIDE ?>/<?php echo $script; ?>"></script>    
<?php } ?>


<?php 


if (!empty($modalAlert)) { ?>
<script>  modalAlert('<?php echo $modalAlert ?>', false) </script>
<?php } ?>


<!-------------FIM RODAPÉ----------------->

</body>
</html>


