<!-------------INICIO RODAPÉ  ----------------->
<footer class="footer-v1">
<!--    <div class="menuFooter clearfix">
        <div class="container">
            <div class="row clearfix">

                <div class="col-sm-3 col-xs-6">
                    <ul class="menuLink">
                        <li><a href="about.html">About Royal College</a></li>
                        <li><a href="campus.html">About Campus</a></li>
                        <li><a href="stuff.html">Staff Members</a></li>
                        <li><a href="about.html">Why Choose Us?</a></li>
                    </ul>
                </div> col-sm-3 col-xs-6 

                <div class="col-sm-3 col-xs-6 borderLeft">
                    <ul class="menuLink">
                        <li><a href="course-fullwidth.html">All Courses</a></li>
                        <li><a href="buying-steps.html">Admission</a></li>
                        <li><a href="photo-gallery3col.html">Photo Gallery</a></li>
                        <li><a href="international_students.html">International Students</a></li>
                    </ul>
                </div> col-sm-3 col-xs-6 

                <div class="col-sm-3 col-xs-6 borderLeft">
                    <div class="footer-address">
                        <h5>Location:</h5>
                        <address>
                            Royal College<br>
                            1727 Lombard St.<br>
                            San Francisco
                        </address>
                        <a href="contact-us.html"><span class="place"><i class="fa fa-map-marker"></i>Main Campus</span></a>
                    </div>
                </div> col-sm-3 col-xs-6 

                <div class="col-sm-3 col-xs-6 borderLeft">
                    <div class="socialArea">
                        <h5>Find us on:</h5>
                        <ul class="list-inline ">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div> social 
                    <div class="contactNo">
                        <h5>Call us on:</h5>
                        <h3>012-3434-456768</h3>
                    </div> contactNo 
                </div> col-sm-3 col-xs-6 

            </div> row 
        </div> container 
    </div> menuFooter -->

    <div class="footer clearfix">
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-6 col-xs-12 copyRight">
                    <p>© 2016 Copyright Royal College Bootstrap Template by <a href="http://www.iamabdus.com">Abdus</a></p>
                </div><!-- col-sm-6 col-xs-12 -->
                <div class="col-sm-6 col-xs-12 privacy_policy">
                    <a href="contact-us.html">Contact us</a>
                    <a href="privacy-policy.html">Privacy Policy</a>
                </div><!-- col-sm-6 col-xs-12 -->
            </div><!-- row clearfix -->
        </div><!-- container -->
    </div><!-- footer -->
</footer>

<?php
include "core/view/layout/5-footer-page.phtml";






