<div class="banner carousel slide" id="recommended-item-carousel" data-ride="carousel">
    <div class="slides carousel-inner">
        <div class="item active">
            <img src="<?php echo $systemConfig::URL_CORE_IMG ?>/home/slider/slider_image_1.jpg">
                 <div class="banner_caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="caption_inner animated fadeInUp">
                                <h1>Welcome To Royal College</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                                <a href="about.html">Learn More</a>
                            </div><!--end caption_inner-->
                        </div>
                    </div><!--end row-->
                </div><!--end container-->
            </div><!--end banner_caption-->
        </div>
        <div class="item">
            <img src="<?php echo $systemConfig::URL_CORE_IMG ?>/home/slider/slider_image_2.jpg">
                 <!--<img src="img/home/slider/slider_image_2.jpg" alt="" />-->
                 <div class="banner_caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="caption_inner animated fadeInUp">
                                <h1>Admission going on</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                                <a href="buying-steps.html">Apply Now</a>
                            </div><!--end caption_inner-->
                        </div>
                    </div><!--end row-->
                </div><!--end container-->
            </div><!--end banner_caption-->
        </div>
        <div class="item">
            <img src="<?php echo $systemConfig::URL_CORE_IMG ?>/home/slider/slider_image_3.jpg">
            <!--<img src="img/home/slider/slider_image_3.jpg" alt="" />-->
                 <div class="banner_caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="caption_inner animated fadeInUp">
                                <h1>Arrange a tour to our college</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                                <a href="contact-us.html">Contact Us</a>
                            </div><!--end caption_inner-->
                        </div>
                    </div><!--end row-->
                </div><!--end container-->
            </div><!--end banner_caption-->
        </div>
        <div class="item">
            <img src="<?php echo $systemConfig::URL_CORE_IMG ?>/home/slider/slider_image_4.jpg">
            <!--<img src="img/home/slider/slider_image_4.jpg" alt="" />-->
                 <div class="banner_caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="caption_inner animated fadeInUp">
                                <h1>Find your dream course</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                                <a href="course-fullwidth.html">Find Course</a>
                            </div><!--end caption_inner-->
                        </div>
                    </div><!--end row-->
                </div><!--end container-->
            </div><!--end banner_caption-->
        </div>
    </div>
    <a href="#recommended-item-carousel" data-slide="prev">
        <img class="left recommended-item-control" src="<?php echo $systemConfig::URL_CORE_IMG ?>/home/slider/prev.png">
    </a>
    <a  href="#recommended-item-carousel" data-slide="next">
        <img class="right recommended-item-control" src="<?php echo $systemConfig::URL_CORE_IMG ?>/home/slider/next.png">
    </a>
</div>