<!-- BANNER BOTTOM -->
            <div class="banner-bottom">
                <div class="container">
                    <div class="banner-bottom-inner">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="selectBox select-category clearfix">
                                    <select name="guiest_id4" id="guiest_id4">
                                        <option value="0"><i class="fa fa-align-justify" aria-hidden="true"></i>Course Catagories</option>
                                        <option value="1">Course 1</option>
                                        <option value="2">Course 2</option>
                                        <option value="3">Course 3</option>
                                        <option value="3">Course 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="searchCourse">
                                    <form action="courses.html" method="post">
                                        <input type="text" placeholder="Search by online courses..." id="exampleInputEmail1" class="form-control">
                                        <button class="btn btn-default commonBtn" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>