<!--<div class="dropdown-menu pull-left m-t-5 dadosusuario" style=" width: 313px;">
    <div class="col-xs-5 p-t-10 ">
        <img class="foto" src="<?php echo $systemConfig::URL_PUBLIC; ?>/all/perfil/exemplo.jpg" width="88" height="88" alt="Usuário">
    </div>
    <div class="col-xs-7 p-t-15">
        <div>
            <strong><?php echo $sessionHelper::getSessionValue('usuNome'); ?></strong>
        </div>
        <div>
            <small><?php echo $sessionHelper::getSessionValue('usuEmail'); ?></small>
        </div>
                                <div class="pt-t5">
                                    <button type="button" id="btSistemaMeusDados" class=" m-t-10 p-t-5 btn-xs btn btn-primary waves-effect" onclick="location.href='<?php echo $systemConfig::SYSTEM_ROOT; ?>/perfil'">
                                        <span >Meus dados&nbsp;</span>
                                    </button>
                                </div>
    </div>
    <div class="col-xs-12 m-t-10 " style="color: #ece3e3;padding-top: 12px;position: relative;border-top: 1px solid;padding-bottom: 7px;">
        <a  href="<?php echo $systemConfig::SYSTEM_ROOT; ?>/perfil/alterarSenha" class="waves-effect waves-block">
            <i class="material-icons">lock</i>
            <span style="position: relative;top: -4px;left: 7px;">Alterar Senha</span>
        </a>
    </div>
    <div class="col-xs-12 p-b-10">
        <a href="<?php echo $systemConfig::SYSTEM_ROOT; ?>/logout" class="waves-effect waves-block">
            <i class="material-icons">input</i>
            <span style="position: relative;top: -7px;left: 7px;">Sair do sistema</span>
        </a>
    </div>
</div>-->