<!-- Navbar - Left Sidebar 
<?php

use module\sistema\util\ControlePermissao;

$controlePermissao = new ControlePermissao();
$perfil = core\helper\SessionHelper::getSessionValue('segPerfil');
?>

<section>
    <aside id="leftsidebar" class="sidebar">
         User Info 
        <div class="user-info">
        </div>
         #User Info 
         Menu 
        <div class="menu">
            <ul class="list">
                <li class="header">MENU</li>

                <li class="<?php activeMenu('inicio', $menu) ?>">
                    <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/inicio">
                        <i class="material-icons">home</i>
                        <span>Início</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="menu-toggle   waves-effect waves-block">
                        <i class="material-icons">assignment_ind</i>
                        <span> Administrativo </span>
                    </a>

                    <ul class="ml-menu">

                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/unidade'; ?>"><span> Unidade  </span></a>
                        </li>
                        <?php ?>

                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/setor'; ?>"><span> Setor </span></a>
                        </li>
                        <?php ?>

                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/categoria'; ?>"><span> Categoria  </span></a>
                        </li>
                        <?php ?>

                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/produto'; ?>"><span> Produtos </span></a>
                        </li>
                        <?php ?>
                        
                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/funcionario'; ?>"><span> Funcionário  </span></a>
                        </li>
                        <?php ?>

                    </ul> 

                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="material-icons">storage</i>
                        <span> Estoque </span>
                    </a>
                    <ul class="ml-menu">
                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/entradaproduto'; ?>"><span> Entrada de Produto </span></a>
                        </li>
                        <?php ?> 
                        
                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/saidaproduto'; ?>"><span> Saída de Produto </span></a>
                        </li>

                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/solicitacao'; ?>"><span> Solicitação de Produto </span></a>
                        </li>
                        
                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/devolucao'; ?>"><span> Devolução de Produto </span></a>
                        </li>
                    </ul>

                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="material-icons">assignment</i>
                        <span> Relatórios </span>
                    </a>
                    <ul class="ml-menu">
                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/produto/relatoriodeproduto'; ?>"><span>  Produtos em Estoque </span></a>
                        </li>
                        <?php ?>

                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/entradaproduto/relatoriodeentrada'; ?>"><span> Produtos de Entrada  </span></a>
                        </li>
                        <?php ?>
                        <?php ?> 
                        <li class="">
                            <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/solicitacao/relatoriosolicitacaonaoatendidas'; ?>"><span> Solicitações não Atendidas  </span></a>
                        </li>
                        <?php ?>

                        <li>
                            <ul class="ml-menu">
                                <?php if ($controlePermissao->validarPermissao('#', $perfil)) { ?>
                                    <li class="<?php activeMenu('meusPlanos', $menu) ?>">
                                        <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/planodecurso/meusPlanos'; ?>"><span>Meus Planos</span></a>
                                    </li>
                                <?php } ?>

                                <?php if ($controlePermissao->validarPermissao('#', $perfil)) { ?>
                                    <li class="<?php activeMenu('consultarplano', $menu) ?>">
                                        <a href="<?php echo $systemConfig::SYSTEM_ROOT . '/planodecurso/consultarplano'; ?>"><span>Consultar</span></a>
                                    </li>
                                <?php } ?>


                                <li class="">
                                    <a href="#" href="javascript:void(0);" class="menu-toggle  waves-effect waves-block"><span>Relatórios</span></a>
                                    <ul class="ml-menu" style="display:none">
                                        <li><a href="#">Relatório 1</a></li>                                    
                                        <li><a href="#">Relatório 2</a></li>                                    
                                        <li><a href="#">Relatório 3</a></li>                                    
                                        <li><a href="#">Relatório 4</a></li>                                    
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="#"><span>Acompanhamento de Plano</span></a>
                                </li>
                            </ul>
                        </li>


                        </div>
                         #Menu 
                        </aside>
                        </section>
                         # Navbar - Left Sidebar 


                         Breadcrumb 
                        <div class="m-l-15 m-r-15 m-b-15">
                            <ol class="breadcrumb system">
                                <li><a href="javascript:void(0);">Início</a></li>
                                <?php // foreach ($textBreadcrumb as $tbc) { ?>
                                    <li><a href="javascript:void(0);"><?php // echo $tbc; ?></a></li>
                                <?php // } ?>
                                <li class="active">Dados</li>
                            </ol>
                        </div>
                         # Breadcrumb 

                        <input type="hidden" id="system-url" value="<?php echo $systemConfig::SYSTEM_ROOT ?>">-->