<!-- Conteúdo -->
<section class="content">
    <div class="block-header">
        <h2>
            Alteração de Senha
        </h2>
    </div>
    <div class="row clearfix">
        <!-- #INICIO teste -->
        <!-- Column -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <form id="frmAlterarSenha" method="POST" novalidate="novalidate">
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-40 text-justify">
                            A nova senha deve conter no mínimo 6 caracteres e deve possuir letras e números. </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float ">
                                <div class="form-line disabled ">
                                    <input type="password" class="form-control" name="frmSenhaAtual"  id="frmSenhaAtual">
                                    <label class="form-label">Senha Atual</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float ">
                                <div class="form-line disabled ">
                                    <input type="password" class="form-control" name="frmNovaSenha"  id="frmNovaSenha">
                                    <label class="form-label">Nova Senha</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-10">
                            <div class="form-group form-float ">
                                <div class="form-line disabled ">
                                    <input type="password" class="form-control" name="frmConfNovaSenha"  id="frmConfNovaSenha">
                                    <label class="form-label">Confirme a Nova Senha</label>
                                </div>
                            </div>
                        </div>
                            <button class="btn  btn-lg bg-green waves-effect" type="submit">Alterar</button>
                    </form>
                </div>

            </div>
        </div>

        <!--second tab-->


    </div>
</div>
</div>
<!-- Column -->
<!-- #FIM teste -->
</div>
</section>
<!-- #FIM Conteúdo -->

<style>

    #pstrength {
        margin-top: 11px;
        position: absolute;
    }

</style>