<!-- Conteúdo -->
<section class="content">
    <div class="block-header">
        <h2>
            Perfil
        </h2>
    </div>
    <div class="row clearfix">
        <!-- #INICIO teste -->
        <!-- Column -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <center class="m-t-30"> <img src="<?php echo $systemConfig::URL_PUBLIC; ?>/all/perfil/exemplo<?php echo $_SESSION['logo'];?>.jpg" class="img-circle" width="150">
                        <h4 class="card-title m-t-10">Usuário sem nome</h4>
                        <h6 class="card-subtitle">Analista de Sistemas</h6>
                        <div class="row text-center justify-content-md-center">
                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium"><small>Último acesso em 10 e Janeiro de 2017 as 18:00</small></font></a></div>
                        </div>
                    </center>
                </div>
                <div>
                    <hr> </div>

            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#dadosAcesso" role="tab" aria-expanded="true">Dados de Acesso</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#dadosCadastro" role="tab" aria-expanded="false">Dados de Cadastro</a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="dadosAcesso" role="tabpanel" aria-expanded="true">

                        <div class="body">
                            <form>
                                <div class="form-group form-float">
                                    <div class="form-line form-line-no-border">
                                        <input type="text" id="frmNome" class="form-control" value="Usuário sem nome">
                                        <label class="form-label">Nome</label>
                                    </div>
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line form-line-no-border">
                                        <input type="text" id="frmEmail" class="form-control" value="usuario@educacao.ba.gov.br">
                                        <label class="form-label">E-mail</label>
                                    </div>
                                </div>
                                <br>
                                <!--<button type="button" class="btn btn-primary m-t-15 waves-effect">ATUALIZAR</button>-->
                            </form>
                        </div>

                    </div>
                    <!--second tab-->

                    <div class="tab-pane" id="dadosCadastro" role="tabpanel" aria-expanded="false">
                        <div class="clearfix">

                            <form>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h4 class="m-t-10 m-b-30">Dados Pessoais</h4>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line disabled form-line-no-border ">
                                            <input type="text" id="frmLogradouro" class="form-control" value="Usuário Sem Nome Completo" disabled>
                                            <label class="form-label">Nome</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="form-group form-float form-line-no-border">
                                        <div class="form-line disabled form-line-no-border">
                                            <input type="text" id="frmLogradouro" class="form-control" value="(00) 00000-0000" disabled>
                                            <label class="form-label">Celular</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line disabled form-line-no-border ">
                                            <input type="text" id="frmLogradouro" class="form-control" value="(00) 0000-0000" disabled>
                                            <label class="form-label">Telefone Fixo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h4 class="m-t-10 m-b-30">Endereço</h4>
                                </div>


                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line disabled form-line-no-border">
                                            <input type="text" id="frmLogradouro" class="form-control" value="Avenida Luiz Viana Filho" disabled>
                                            <label class="form-label">Logradouro</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line disabled form-line-no-border">
                                            <input type="text" id="frmbairro" class="form-control" value="Centro Administrativo da Bahia" disabled>
                                            <label class="form-label">Bairro</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line disabled form-line-no-border">
                                            <input type="text" id="frmNumero" class="form-control" value="550" disabled>
                                            <label class="form-label">Número</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line disabled form-line-no-border">
                                            <input type="text" id="frmComplemento" class="form-control" value="5ª Avenida, Secretaria da Educação" disabled>
                                            <label class="form-label">Complemento</label>
                                        </div>
                                    </div>
                                </div>
                                <!--<button type="button" class="btn btn-primary m-t-15 waves-effect">ATUALIZAR</button>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- #FIM teste -->
    </div>
</section>
<!-- #FIM Conteúdo -->