<?php

?>
<style type="text/css">
    [disabled]{
        cursor: no-drop !important;
    }
</style>  

<!-- Conteúdo -->
<section class="content pg-adicionar">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
<?php echo $pageTitle; ?>
            </h2>
        </div>
        <div class="row clearfix">
            <!-- #INICIO teste -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body clearfix">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <!-- CONTEUDO -->
                            <form role="form" action="adicionar" name="frmAdicionar" id="frmAdicionar" method="post">

                                <div class="row">
                                    <div class="col-md-11  col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-8  col-sm-8 col-xs-12">
                                                <label for="NOME" >Unidade:</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input  type="text" name="NOME" class="form-control" id="NOME"  maxlength="100" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">

                                        <a  class="btn bg-green waves-effect border-radius-5 btn-salvar" form-submit>
                                            <i class="material-icons">save</i>
                                            <span class="m-r-10">Salvar</span>
                                        </a>                                    
                                        <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/unidade" class="btn bg-orange waves-effect border-radius-5">
                                            <i class="material-icons">reply</i>
                                            <span class="m-r-10">Voltar</span>
                                        </a>

                                    </div>
                                </div>
                            </form>
                            <!--CONTEUDO-->
                        </div><!-- col-md-6 -->
                    </div><!-- body -->
                </div>
            </div>
            <!-- #FIM teste -->
        </div>
</section>
<!-- #FIM Conteúdo -->
