<?php

use module\almoxarifado\consts\StatusConsts;
use config\SystemConfig;
use module\almoxarifado\helper\UsuarioHelper;
use module\almoxarifado\vo\DevolucaoVO;

//use module\almoxarifado\vo\ItemDevolucaoProdutoVO;
?>

<style>
    .pull-left {
        max-width: 80px;
    }
</style>
<!-- Conteúdo -->
<section class="pg-adicionar form visualizar-impressao">
    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 m-t-20 fix">
            <div class="card">
                <div class="header">
                    <div class="pg-visualizar c-header"> 
                        <div class="row">
                            <div class="box-topo clearfix">        
                                <img src="<?php echo SystemConfig::LOGO_GOV_IMG; ?>" class="pull-left pos-fix logo-top-gov"/>
                                <img src="<?php echo SystemConfig::LOGO_APP_IMG; ?>" class="pull-right logo-top-app"/>
                            </div>
                        </div>
                    </div>
                    <!--                    <br>-->
                    <center> <h2><?php echo $pageTitle; ?></h2></center>
                </div>
                <div class="body">
                    <!-- CONTEUDO -->
                    <div class="relatorio">
                        <div class="">
                            <div class="row">
                                <div class="col-lg-12 /*col-lg-offset-2*/">            

                                    <h4>Devolução de Produto</h4>
                                    <table class="table table-striped"> 
                                        <thead>
                                            <tr>                                                                              
                                                <th>Nome do Funcionário</th>
                                                <th>Código</th>
                                                <th>Data de Entrada</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>                                       
                                                <td><?php echo $objDevolucaoVO->getIdFuncionarioUsuario()->getNome() ?></td>
                                                <td><?php echo $objDevolucaoVO->getId() ?></td>
                                                <td><?php echo $objDevolucaoVO->getDataInclusao() ?></td>

                                            </tr>                        
                                        </tbody>
                                    </table>


                                    <h4>Lista de produtos devolvidos</h4>
                                    <table class="table table-striped"> 
                                        <thead>
                                            <tr>                                                                              
                                                <th>Produto</th>
                                                <th>Quantidade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php
//                                            var_dump($objSolicitacaoVO->getItemSolicitacaoProdutoArrayIterator()); exit;
                                            foreach ($objDevolucaoVO->getItemSolicitacaoProdutoArrayIterator() as $objItemSolicitacaoProdutoVO) {
                                                ?>
                                                <tr>                                       
                                                    <td>  <?php echo $objItemSolicitacaoProdutoVO->getIdProduto()->getNome(); ?>  </td>
                                                    <td>  <?php echo $objItemSolicitacaoProdutoVO->getQuantidade(); ?>  </td>
                                                </tr>                            
                                                <?php
                                            }
                                            ?>
                                        </tbody>
                                    </table>
                                    <br>          
                                </div>
                            </div>
                        </div>

                        <div class="form-group botao m-t-20">
                            <div class="">
                                <a class="btn bg-grey waves-effect no-media-print"  href="javascript:window.print()">
                                    <i class="material-icons">print</i>
                                    <span class="m-r-10">Imprimir Registro</span>
                                </a>    
                                <a  href="javascript:window.close()" class="btn bg-red waves-effect no-media-print">
                                    <i class="material-icons">reply</i>
                                    <span class="m-r-10">Fechar</span>
                                </a>                                        
                            </div>
                        </div>
                        <br><br>
                        <div class="info-footer text-muted">
                            <span class="info-block-date">  
                                <span class="info-title">Data/Hora:</span> <?php echo date('d/m/Y H:i:s'); ?>
                            </span>
                        </div> 
                    </div>
                    <!--CONTEUDO-->

                </div>           
            </div>

        </div>
        <!-- #FIM teste -->
    </div>
</section>
<!-- #FIM Conteúdo -->