<!-- Custom Css -->
<link href="<?php echo $systemConfig::URL_CORE_CSS ?>/style.css" rel="stylesheet">

</head>
<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a><?php echo $systemConfig::SYSTEM_NAME_FORMATED ?></a>
            <small>Sistema de relatórios</small>
        </div>
        <div class="card">
            <div class="body">
                <form  id="frmRecuperarSenha" name="frmRecuperarSenha" method="post" action="<?php echo $systemConfig::SYSTEM_ROOT; ?>/RecuperarSenha/inicio">
                    <div class="msg">Recuperação de senha</div>
                    <div class="logo-img"><img src="<?php echo $systemConfig::URL_PUBLIC ?>/all/logo/logo-dark.png" alt="SEC" /></div>

                    <div class="form-group form-float m-t-40">
                        <div class="form-line">
                            <input type="text" id="cpf" name="cpf"  class="form-control">
                            <label class="form-label">CPF</label>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="">
                            <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/login" class="btn bg-orange waves-effect border-radius-5">
                                <i class="material-icons">reply</i>
                                <span class="m-r-10">Voltar</span>
                            </a>
                            <a  class="btn bg-green waves-effect border-radius-5 btn-salvar" form-submit>
                                <i class="material-icons">check</i>
                                <span class="m-r-10">Enviar</span>
                            </a>

                            
                        </div>
                    </div>
                </form>
                <div><a
            </div>
            </form>
        </div>
    </div>
</div>
</body>

