.theme-defaultframework{
}
.sidebar .legal{
    bottom: 53px;
}

.sidebar .menu .list .ml-menu span{
    margin: 4px 0 1px 6px;
}

.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before{
    top: -1px;
}
.dropdown-menu{
    min-width: 200px;
}

.divisor{ 
    padding: 15px 0px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    margin: 0 0 21px 0;
    font-size: 18px;
    font-weight: normal;
    color: #111;
    }
    
    
.clear{
	clear:both;
	float:none;
}


.box-leis{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 6px;    
}

.fix_input{
    border: 1px solid #ccc !important;
    text-indent: 12px;
    height: 38px;
    z-index: 0 !important;
}