.sidebar .menu .list .ml-menu span {
    font-weight: normal;
    font-size: 14px;
    margin: 1px 0 1px 7px;
}

.t-center{
    text-align: center;
}

.login-box .bt-box a{
    width: 50%;    
}

.bg-primary{
    background: #194E91;    
    color:#ffffff !important;
}

.bg-primary:hover{
    background: #2468bd !important;    
}

.btn:not(.btn-link):not(.btn-circle){
   border-radius: 4px !important;   
}
.bg-framework{
  background-color: #194e91 !important; 
  color: #fff !important;
}
.form-box{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 35px;
}
.form-box > label{
    display: block;
    font-size: 14px;
    font-weight: bold !important;
}


.form-box .row label{
    font-weight: normal !important;
}



 .xdebug-var-dump{
        margin-left: 329px;
    }



.noborder .bootstrap-select{
    border: 0px solid #ddd !important;
}



























/****************** TOOLTIP *************************/

/*

.tooltip.in{
    opacity: 1;
}

.tooltip-inner{
    background: #fff; 
    color: #333;
    border: 1px solid #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 8px;
}

.tooltip-arrow{
   border-top-color: #fff !important;
   border-width: 10px 10px 0 !important;
   bottom: -4px !important;
}
*/
/****************** FIM TOOLTIP *************************/


/***************  MULTSELECT BOX  *******************/

.ms-container{
    width: 100%;
    min-width: 250px;
    padding: 0px;
}
.ms-container .ms-selectable, 
.ms-container .ms-selection{
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    min-width: 200px;
}

.ms-container .custom-header{
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    background: #e8e8e8;
    border-bottom: none;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
    color: #444;
}
.ms-container .ms-list{
    border: 3px solid #e8e8e8;
    border-top: 0px;
}


.ms-container .ms-elem-selectable{

}

.ms-container .ms-selection{
    
}
.ms-container .ms-focus{
    border-color:rgb(232, 232, 232) !important;
    box-shadow: none !important;
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection{
    border-bottom: 1px #ddd solid;
    color: #888;
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover{
    border-color:transparent !important;   
    box-shadow: none !important;
    background: #d7e9ff !important;    
}

/* VERTICAL*/
.ms-vertical .ms-selectable, 
.ms-vertical .ms-selection{
    width:100% !important;
}
.ms-vertical .ms-selectable{
    margin-bottom: 50px;
}

/* FIMVE RTICAL */

@media (max-width: 780px){
    /* RESPONSIVO */
.ms-container{
    background: transparent url('/core/styleguide/plugins/multi-select/img/switch2.png') no-repeat 50% 50%;
}    
.ms-container .ms-selectable{
        margin-bottom: 40px;
}
    
.ms-container .ms-selectable, 
.ms-container .ms-selection{
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    width:100%;
    min-width: auto;

}


}


/************** FIM MULTSELECT *************/
 


.dataTables_processing{
    background: #f9f9f9;
    padding: 30px 0px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 14px;
}

/*Correção do bug na  barra de rolagem do bootstrap select */

.bootstrap-select .dropdown-menu > li > a{
    white-space: normal;
    border-bottom: 1px solid #eee;
}

.visualizar-impressao label{
    font-size: 14px !important;
    font-weight: bold !important;
}

.visualizar-impressao{
    
}

.visualizar-impressao{
    
}

.visualizar-impressao{
    
}

.visualizar-impressao{
    
}

.visualizar-impressao{
    
}

.visualizar-impressao{
    
}
.has-error .help-block{
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
}
.destacaErro{
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);

}

.dataTable .actions{
    width: 75px!important;   
}







