<?php

use config\SystemConfig;
use core\helper\FormatHelper;
use module\almoxarifado\consts\TipoSolicitacaoConsts;
?>

<section class="content pg-adicionar form">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <?php echo $pageTitle; ?>
            </h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <!-- filtros -->
                        <h4> Campo de Filtro</h4>
                        <!-- CONTEUDO -->
                        <form role="form" action="" name="frmFiltrarSolicitacao" id="frmFiltrarSolicitacao" method="post">

                            <div class="row">
                                <div class="col-md-8  col-sm-12 col-xs-12"> 
                                    <div class="row">
                                        <div class="col-md-6  col-sm-6 col-xs-12">
                                            <label for="ID_FUNCIONARIO_USUARIO">Solicitante:</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select id="ID_FUNCIONARIO_USUARIO" name="ID_FUNCIONARIO_USUARIO" name="ID_FUNCIONARIO_USUARIO"  class="selectpicker form-control select" data-live-search="true" style="display: none;" data-valida  required="required">
                                                        <?php $this->makeOptions($arrayItFuncionario, 'Id', 'nome'); ?>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4  col-sm-6 col-xs-12">
                                            <label for="SOLICITANTE">Produto:</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input  type="text" name="SOLICITANTE" class="form-control" id="SOLICITANTE"  maxlength="50">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=""> 
                                    <button  type="submit" class=" col-white btn list-unstyled  palette-Blue-800 bg waves-effect border-radius-5 btn-salvar">
                                        <i class="material-icons">search</i>
                                        <span class="m-r-10">Pesquisar</span>
                                    </button>
                                    <button  type="button"  class="btn bg-orange waves-effect border-radius-5" form-reset>
                                        <i class="material-icons">rotate_left</i>
                                        <span class="m-r-10">Limpar Filtro</span>
                                    </button>

                                </div>
                            </div>
                        </form>
                        <!-- exit filtros -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/solicitacao/adicionar" class="btn bg-green waves-effect border-radius-5">
                            <i class="material-icons">add</i>
                            <span class="m-r-10">Adicionar</span>
                        </a>                     
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable" >
                                <thead>
                                    <tr>
                                        <th class="actions">Ação</th>
                                        <th>Solicitante</th>
                                        <th>Situação</th>
                                        <th>Observação</th>
                                    </tr>
                                </thead>

                                <tbody>    
                                    <?php foreach ($arraySolicitacao as $solicitacao) { ?>
                                        <tr id="tr<?php echo $solicitacao->getId(); ?>">
                                            <td class="align-center"  >
                                                <div class="btn-group tableAction">
                                                    <button type="button" class="btn btn-default waves-effect dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">keyboard_arrow_down</i>
                                                    </button>
                                                    <ul class="dropdown-menu ">
                                                        <?php if ($solicitacao->getSituacao() != TipoSolicitacaoConsts::ATENDIDO && $solicitacao->getSituacao() != TipoSolicitacaoConsts::CANCELADO) { ?>
                                                            <li>
                                                                <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/solicitacao/alterar/<?php echo $solicitacao->getId(); ?>" ><i class="material-icons bg-orange padding-5 ">create</i>&nbsp;Alterar</a>
                                                            </li>
                                                            <li>
                                                                <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/solicitacao/atender/<?php echo $solicitacao->getId(); ?>" target-id="<?php echo $solicitacao->getId(); ?>" class="alert-confirm-atender"><i class="material-icons bg-green padding-5 ">done</i>&nbsp;Atender</a>
                                                            </li>
                                                            <li>
                                                                <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/solicitacao/cancelar/<?php echo $solicitacao->getId(); ?>" target-id="<?php echo $solicitacao->getId(); ?>" class="alert-confirm-cancelar"><i class="material-icons bg-red padding-5 ">close</i>&nbsp;Cancelar</a>
                                                            </li>
                                                        <?php } ?>
                                                        <li>
                                                            <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/solicitacao/visualizar/<?php echo $solicitacao->getId(); ?>" target="_blank" ><i class="material-icons bg-blue-grey padding-5 ">search</i>&nbsp;Visualizar</a>
                                                        </li>
                                                    </ul>
                                                </div>     
                                            </td>
                                            <td><?php echo $solicitacao->getIdFuncionarioUsuario()->getNome() ?></td>
                                            <td><?php echo TipoSolicitacaoConsts::getValue($solicitacao->getSituacao()) ?></td>
                                            <td><?php echo $solicitacao->getObservacao() ?></td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>