<?php


namespace module\almoxarifado\controller;
use module\almoxarifado\consts\TipoSolicitacaoConsts;

?>
<style>
    .table thead{
    background: #194E91;  
    color: #ffffff;
    border: 1px solid #cecece;    
     
        
        
    }
    
    
</style>


<div class="relatorio">
    <div class="">
        <div class="row">
            <div class="col-lg-12 /*col-lg-offset-2*/">            

                <table class="table table-striped"> 
                    <thead>
                        <tr>                                                                              
                            <th >Solicitante</th>
                            <th >Situação</th>
                            <th >Observações</th>
                                                   
                        </tr>
                    </thead>

                    <tbody>

                        <?php
                        
                     $templateRegistros = $arraySolicitacao->count();
                
                        foreach ($arraySolicitacao as $objSolicitacaoVO) {
                            /* @var $objProjetoPoliticoPedagogicoVO ProjetoPoliticoPedagogicoVO */
                            ?>

                            <tr>                                       
                                  <td><?php echo $objSolicitacaoVO->getIdFuncionarioUsuario()->getNome(); ?></td>
                                     <td><?php echo TipoSolicitacaoConsts::getValue($objSolicitacaoVO->getSituacao()); ?></td>
                                   <td><?php echo $objSolicitacaoVO->getObservacao();?></td>
                                           
                            </tr>
                            <?php
                        }
                        ?>


                    </tbody>
                </table>


                <br><br>           
            </div>
        </div>
    </div>
</div>

