<?php

use module\almoxarifado\consts\StatusConsts;
use config\SystemConfig;
use module\almoxarifado\helper\UsuarioHelper;
use module\almoxarifado\vo\SolicitacaoVO;
use module\almoxarifado\vo\ItemSolicitacaoProdutoVO;
use module\almoxarifado\consts\TipoSolicitacaoConsts;
?>

<style>
    .pull-left {
        max-width: 80px;
    }

    

</style>
<!-- Conteúdo -->
<section class="pg-adicionar form visualizar-impressao">
    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 m-t-20 fix">
            <div class="card">
                <div class="header">
                    <div class="pg-visualizar c-header"> 
                        <div class="row">
                            <div class="box-topo clearfix">        
                                <img src="<?php echo SystemConfig::LOGO_GOV_IMG; ?>" class="pull-left pos-fix logo-top-gov"/>
                                <img src="<?php echo SystemConfig::LOGO_APP_IMG; ?>" class="pull-right logo-top-app"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="titulo"> 
                        <center> <h2><?php echo $pageTitle; ?></h2></center> 
                    </div>

                </div>
                <div class="body">
                    <!-- CONTEUDO -->
                    <div class="relatorio">
                        <div class="">
                            <div class="row">
                                <div class="col-lg-12 /*col-lg-offset-2*/">            

                                    <h4>Solicitação de Produto</h4>
                                    <table class="table table-striped"> 
                                        <thead>
                                            <tr>                                                                              
                                                <th>Código</th>
                                                <th>Solicitante</th>
                                                <th>Situação</th>
                                                <th>Data de Entrada</th>
                                                <th>Observação</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>                                       
                                                <td><?php echo $objSolicitacaoVO->getId(); ?></td>
                                                <td><?php echo $objSolicitacaoVO->getIdFuncionarioUsuario()->getNome(); ?></td>
                                                <td><?php echo TipoSolicitacaoConsts::getValue($objSolicitacaoVO->getSituacao()); ?></td>
                                                <td><?php echo $objSolicitacaoVO->getDataInclusao(); ?></td>
                                                <td><?php echo $objSolicitacaoVO->getObservacao(); ?></td>

                                            </tr>                        
                                        </tbody>
                                    </table>


                                    <h4>Lista de produtos</h4>
                                    <table class="table table-striped"> 
                                        <thead>
                                            <tr>                                                                              
                                                <th>Produto</th>
                                                <th>Quantidade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php
                                            foreach ($objSolicitacaoVO->getItemSolicitacaoProdutoArrayIterator() as $objItemSolicitacaoVO) {
                                                ?>
                                                <tr>                                       
                                                    <td>  <?php echo $objItemSolicitacaoVO->getIdProduto()->getNome(); ?>  </td>
                                                    <td>  <?php echo $objItemSolicitacaoVO->getQuantidade(); ?>  </td>
                                                </tr>                            
                                                <?php
                                            }
                                            ?>
                                        </tbody>
                                    </table>
                                    <br>          
                                </div>
                            </div>
                        </div>

                        <div class="form-group botao m-t-20 no-media-print">
                            <div class="">
                                <a class="btn bg-grey waves-effect " href="javascript:window.print()">
                                    <i class="material-icons">print</i>
                                    <span class="m-r-10">Imprimir Registro</span>

                                    <a class="btn bg-red waves-effect  " href="javascript:window.close()">
                                        <i class="material-icons">reply</i>
                                        <span class="m-r-10 ">Fechar</span>
                                    </a>                                        
                                </a>    
                            </div>
                        </div>
                        <br><br>
                        <div class="info-footer text-muted">
                            <span class="info-block-date">  
                                <span class="info-title">Data/Hora:</span> <?php echo date('d/m/Y H:i:s'); ?>
                            </span>
                        </div> 
                    </div>
                    <!--CONTEUDO-->

                </div>           
            </div>

        </div>
        <!-- #FIM teste -->
    </div>
</section>
<!-- #FIM Conteúdo -->