<?php
use config\SystemConfig;
use core\helper\FormatHelper;
use module\almoxarifado\consts\ConstsDeSaida;
?>

<section class="content pg-adicionar form">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <?php echo $pageTitle; ?>
            </h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <h4>Filtros</h4>
                        <!-- CONTEUDO -->
                        <form role="form" action="" name="frmFiltrarSaidaProduto" id="frmFornecedor" method="post">

                            <div class="row">
                                <div class="col-md-5  col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6  col-sm-6 col-xs-12">
                                            <label for="data" >Data Inicial:</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input  type="text" name="dataInicial" class="form-control" id="DATA_INICIAL"  maxlength="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>  
                                <div class="row">
                                    <div class="col-md-5  col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-6  col-sm-6 col-xs-12">
                                                <label for="data" >Data Final:</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input  type="text" name="dataFinal" class="form-control" id="DATA_FINAL"  maxlength="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <div class="form-group">
                                        <div class=""> 
                                            <button  type="submit" class=" col-white btn list-unstyled  palette-Blue-800 bg waves-effect border-radius-5 btn-salvar">
                                                <i class="material-icons">search</i>
                                                <span class="m-r-10">Pesquisar</span>
                                            </button>
                                            <button  type="button"  class="btn bg-orange waves-effect border-radius-5" form-reset>
                                                <i class="material-icons">rotate_left</i>
                                                <span class="m-r-10">Limpar Filtro</span>
                                            </button>

                                        </div>
                                    </div>
                                    </form>
                                    <!-- exit filtros -->
                                </div>
                            </div>
                    </div>
                </div>


                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" >
                                        <thead>
                                            <tr>
                                                <th class="actions">Ação</th>
                                                <th>Código</th>
                                                <th>Nome Funcionário</th>
                                                <th>Data Entrada</th>
                                                <th>Sataus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach ($arraySaidaProduto as $saidaProduto) { ?>
                                            <tr id="tr<?php echo $saidaProduto->getId(); ?>">
                                                <td class="align-center"  >
                                                    <div class="btn-group tableAction">
                                                        <button type="button" class="btn btn-default waves-effect dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">keyboard_arrow_down</i>
                                                        </button>
                                                        <ul class="dropdown-menu ">
                                                            <li>
                                                                <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/saidaproduto/visualizar/<?php echo $saidaProduto->getId(); ?>" target="_blank"><i class="material-icons bg-blue-grey padding-5 ">search</i>&nbsp;Visualizar</a>
                                                            </li>
                                                            <?php if ($saidaProduto->getSaida() != ConstsDeSaida::DEVOLVIDO){?>
                                                            <li>
                                                                <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/saidaproduto/devolver/<?php echo $saidaProduto->getId(); ?>" target-id="<?php echo $saidaProduto->getId(); ?>" class="alert-confirm-devolver"><i class="material-icons bg-red padding-5 ">call_missed</i>&nbsp;Devolver</a>
                                                            </li>
                                                            <?php } ?>
                                                        </ul>
                                                    </div>     
                                                </td>
                                                <td><?php echo $saidaProduto->getId(); ?></td>
                                                <td><?php echo $saidaProduto->getIdSolicitacaoProduto()->getIdFuncionarioUsuario()->getNome() ?></td>
                                                <td><?php echo $saidaProduto->getDataInclusao() ?></td>
                                                <td><?php echo ConstsDeSaida::getValue($saidaProduto->getSaida()) ?></td>


                                            </tr>
                                            <?php } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>