<?php

use module\sised\consts\PerfilConsts;
use module\sised\consts\StatusConsts;
?>
<style type="text/css">
    [disabled]{
        cursor: no-drop !important;
    }
</style>  

<!-- Conteúdo -->
<section class="content pg-adicionar">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <?php echo $pageTitle; ?>
            </h2>
        </div>
        <div class="row clearfix">
            <!-- #INICIO teste -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!-- CONTEUDO -->
                            <form role="form" action="adicionar" name="frmAdicionar" id="frmAdicionar" method="post">

                                <div class="row">
                                    <div class="col-md-12  col-sm-4 col-xs-10">                                    
                                        <label for="NOME" >Nome:</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input  type="text" name="NOME" class="form-control" id="NOME"  maxlength="100" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6  col-sm-4 col-xs-10">                                         
                                        <label for="MATRICULA" >Matrícula:</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input  type="text" name="MATRICULA" class="form-control" id="MATRICULA"  maxlength="5" >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6  col-sm-4 col-xs-10">                                         
                                        <label for="PASSOWORD" >Senha:</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input  type="text" name="PASSOWORD" class="form-control" id="PASSOWORD"  maxlength="20" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6  col-sm-4 col-xs-10">                                        
                                        <label for="CPF" >CPF:</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input  type="text" name="CPF" class="form-control" id="CPF"  maxlength="14" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6  col-sm-4 col-xs-10">  
                                        <label for="ID_SETOR" >Setor:</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select id="ID_SETOR" name="ID_SETOR"  class="selectpicker form-control select" data-live-search="true" style="display: none;">                                            
                                                    <?php $this->makeOptions($arraySetor, 'Id', 'Nome'); ?>
                                                </select> 
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-6  col-sm-4 col-xs-10">                                       
                                        <label for="TELEFONE" >Telefone:</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input  type="text" name="TELEFONE" class="form-control" id="TELEFONE"  maxlength="15" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6  col-sm-4 col-xs-10">                                      
                                        <label  for="CELULAR" >Celular:</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input  type="text" name="CELULAR" class="form-control" id="CELULAR"   maxlength="16" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8  col-sm-12 col-xs-12">                                        
                                        <label for="TIPO_USUARIO" >Tipo de Usuário:</label>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input name="TIPO_USUARIO" type="radio" id="ADMINISTRADOR" class="with-gap radio-col-blue" value="A"/>
                                                <label for="ADMINISTRADOR" class="no-red">Administrador</label>
                                                <br>
                                                <input name="TIPO_USUARIO" type="radio" id="USUARIO" class="with-gap radio-col-blue" value="U"/>
                                                <label for="USUARIO" class="no-red">Usuário</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <a  class="btn bg-green waves-effect border-radius-5 btn-salvar" form-submit>
                                            <i class="material-icons">save</i>
                                            <span class="m-r-10">Salvar</span>
                                        </a>                                    
                                        <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/funcionario" class="btn bg-orange waves-effect border-radius-5">
                                            <i class="material-icons">reply</i>
                                            <span class="m-r-10">Voltar</span>
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <!--CONTEUDO-->
                        </div><!-- col-md-6 -->
                    </div><!-- body -->
                </div>
            </div>
            <!-- #FIM teste -->
        </div>
</section>
<!-- #FIM Conteúdo -->
