<?php

namespace module\almoxarifado\controller;
 
?>

<script>  listaInit = <?php echo $initGridValues; ?>;</script>


<style type="text/css">
    [disabled]{
        cursor: no-drop !important;
    }
</style>


<!-- Conteúdo -->
<section class="content pg-alterar">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <?php echo $pageTitle; ?>
            </h2>
        </div>
        <div class="row clearfix">
            <!-- #INICIO teste -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body">
                        <!-- CONTEUDO -->
                        <form role="form" action="" name="frmAlterar" id="frmAdicionar" method="post" >
                            <input type="hidden" name="ID_PRODUTO" value="<?php $objEntradaProdutoVO->getId() ?>">
                            <div class="form-box">
                                <label>Alterar Item</label>


                                <div class="form-grid" data-form="frmAlterar" >

                                    <input type="hidden" id="EXCLUIDO" name="EXCLUIDO"  value="0" />                                                
                                    <input type="hidden" id="ID_ITEM_ENTRADA_PRODUTO" name="ID_ITEM_ENTRADA_PRODUTO"  value="<?php  ?>" />                                                

                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <label for="ID_PRODUTO">Produto:</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select id="ID_PRODUTO" name="ID_PRODUTO" name="ID_PRODUTO"  class="selectpicker form-control select" data-live-search="true" style="display: none;" data-valida  required="required">
                                                        <?php $this->makeOptions($arrayProduto, 'Id', 'nome',TRUE); ?>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>                                                                     
                                    </div><!-- row -->


                                    <div class="row ">

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label for="QUANTIDADE">Quantidade:</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" data-valida id="QUANTIDADE" name="QUANTIDADE" class="form-control" value=""   />                                                
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- row -->



                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="data-block-insert">
                                                <a  class="btn bg-green waves-effect border-radius-5 btn-add-item" >
                                                    <i class="material-icons">add</i>
                                                    <span class="m-r-10">Adicionar Item </span>
                                                </a>
                                                <a  class="btn bg-orange waves-effect border-radius-5 btn-add-limpar" >
                                                    <i class="material-icons">cancel</i>
                                                    <span class="m-r-10">Limpar</span>
                                                </a>

                                            </div>
                                            <div class="data-block-update" style="display: none;">
                                                <a  class="btn bg-green waves-effect border-radius-5 btn-salvar btn-update-item">
                                                    <i class="material-icons">save</i>
                                                    <span class="m-r-10">Alterar</span>
                                                </a>
                                                <button  type="button"  class="btn bg-red waves-effect border-radius-5 btn-cancel-update-item">
                                                    <i class="material-icons">cancel</i>
                                                    <span class="m-r-10">Cancelar</span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>

                                </div><!-- form-grid -->

                                <hr />

                                <div class="row">
                                    <div class="col-md-12">                                
                                        <div class="">
                                            <label for="ITENS"><b>Itens adicionados:</b></label>
                                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 20px">Ação</th>
                                                        <th>Produto</th>
                                                        <th>Quantidade</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="listTable"
                                            </tbody>
                                        </table>
                                    </div>                                
                                </div>
                            </div>

                        </div><!-- form-box-->

                        <div class="row" >

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for="NOME_ENTREGADOR">Nome do Entregador:</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text"  data-valida  id="NOME_ENTREGADOR" name="NOME_ENTREGADOR" class="form-control" value="<?php echo $objEntradaProdutoVO->getNomeEntregador(); ?>" />                                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                           
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="OBSERVACAO">Observação:</label>
                                <div class="form-group">
                                    <textarea type="text" id="OBSERVACAO" name="OBSERVACAO" class="form-control" data-valida><?php echo $objEntradaProdutoVO->getObservacao(); ?></textarea>                                                                                                    
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="">

                                <a  class="btn bg-green waves-effect border-radius-5 btn-salvar" form-submit>
                                    <i class="material-icons">save</i>
                                    <span class="m-r-10">Salvar</span>
                                </a>                                    
                                <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/entradaproduto" class="btn bg-orange waves-effect border-radius-5">
                                    <i class="material-icons">reply</i>
                                    <span class="m-r-10">Voltar</span>
                                </a>

                            </div>
                        </div>


                    </form>
                    <!--CONTEUDO-->
                </div>
            </div>
        </div>
        <!-- #FIM teste -->
    </div>
</section>
<!-- #FIM Conteúdo -->

