<?php

use config\SystemConfig;
use core\helper\FormatHelper;
?>

<section class="content pg-adicionar form">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <?php echo $pageTitle; ?> 
            </h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <!-- filtros -->
                        <h4>Relatório</h4>
                        <!-- CONTEUDO -->
                        <form role="form" action="" name="frmFiltrarProduto" id="frmFornecedor" method="post"  target="_blank">

                                <div class="row">
                                    <div class="col-md-5  col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-6  col-sm-6 col-xs-12">
                                                <label for="DESCRICAO" >Data Inicial:</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input  type="text" name="dataInicial" class="form-control" id="DATA_INICIAL"  maxlength="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div>  
                                    <div class="row">
                                        <div class="col-md-5  col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-md-6  col-sm-6 col-xs-12">
                                                    <label for="data" >Data Final:</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input  type="text" name="dataFinal" class="form-control" id="DATA_FINAL"  maxlength="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>

                                        <div class="form-group">
                                <div class=""> 
                                    <button  type="submit" class=" col-white btn list-unstyled  palette-Blue-800 bg waves-effect border-radius-5 btn-salvar">
                                        <i class="material-icons">search</i>
                                        <span class="m-r-10">Pesquisar</span>
                                    </button>
                                    <button  type="button"  class="btn bg-orange waves-effect border-radius-5" form-reset>
                                        <i class="material-icons">rotate_left</i>
                                        <span class="m-r-10">Limpar Filtro</span>
                                    </button>

                                </div>
                            </div>
                                        </form>
                                        <!-- exit filtros -->
                                    </div>
                                </div> 
                            </div>
                    </div>

                    </section>