<?php

use config\SystemConfig;
use core\helper\FormatHelper;
?>

<section class="content pg-adicionar form">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <?php echo $pageTitle; ?>
            </h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <h4>Filtros</h4>
                        <!-- CONTEUDO -->
                        <form role="form" action="" name="frmFiltrarEntradaProduto" id="frmFornecedor" method="post">

                            <div class="row">
                                <div class="col-md-6  col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6  col-sm-6 col-xs-12">
                                            <label for="NOME_ENTREGADOR" >Nome do Entregador:</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input  type="text" name="NOME_ENTREGADOR" class="form-control" id="NOME_ENTREGADOR" value="<?php echo isset($post['NOME_ENTREGADOR']) ? $post['NOME_ENTREGADOR'] : ''; ?>"  maxlength="50">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=""> 
                                    <button  type="submit" class=" col-white btn list-unstyled  palette-Blue-800 bg waves-effect border-radius-5 btn-salvar">
                                        <i class="material-icons">search</i>
                                        <span class="m-r-10">Pesquisar</span>
                                    </button>
                                    <button  type="button"  class="btn bg-orange waves-effect border-radius-5" form-reset>
                                        <i class="material-icons">rotate_left</i>
                                        <span class="m-r-10">Limpar Filtro</span>
                                    </button>

                                </div>
                            </div>
                        </form>
                        <!-- exit filtros -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/entradaproduto/adicionar" class="btn bg-green waves-effect border-radius-5">
                            <i class="material-icons">add</i>
                            <span class="m-r-10">Adicionar</span>
                        </a>                     
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable" >
                                <thead>
                                    <tr>
                                        <th class="actions">Ação</th>
                                        <th>Nome do entregador</th>
                                        <th>Data Entrada</th>
                                        <th>Observação</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($arrayEntradaProduto as $entradaProduto) { ?>
                                        <tr id="tr<?php echo $entradaProduto->getId(); ?>">
                                            <td class="align-center"  >
                                                <div class="btn-group tableAction">
                                                    <button type="button" class="btn btn-default waves-effect dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">keyboard_arrow_down</i>
                                                    </button>
                                                    <ul class="dropdown-menu ">
                                                        <li>
                                                            <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/entradaproduto/visualizar/<?php echo $entradaProduto->getId(); ?>" target="_blank"><i class="material-icons bg-blue-grey padding-5 ">search</i>&nbsp;Visualizar</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/entradaproduto/alterar/<?php echo $entradaProduto->getId(); ?>" ><i class="material-icons bg-orange padding-5 ">create</i>&nbsp;Alterar</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/entradaproduto/excluir/<?php echo $entradaProduto->getId(); ?>" target-id="<?php echo $entradaProduto->getId(); ?>" class="alert-confirm-excluir"><i class="material-icons bg-red padding-5 ">delete_forever</i>&nbsp;Excluir</a>
                                                        </li>
                                                    </ul>
                                                </div>     
                                            </td>
                                            <td><?php echo $entradaProduto->getNomeEntregador() ?></td>
                                            <td><?php echo $entradaProduto->getDataInclusao() ?></td>
                                            <td><?php echo $entradaProduto->getObservacao() ?></td>



                                        </tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>