<?php


namespace module\almoxarifado\controller;

?>
<style>
    .table thead{
    background: #194E91;  
    color: #ffffff;
    border: 1px solid #cecece;    
     
        
        
    }
    
    
</style>


<div class="relatorio">
    <div class="">
        <div class="row">
            <div class="col-lg-12 /*col-lg-offset-2*/">            

                <table class="table table-striped"> 
                    <thead>
                        <tr>                                                                              
                            <th >Código</th>
                            <th >Nome do entregador</th>
                            <th> Data Entrada</th>
                            <th >Observações</th>
                                                   
                        </tr>
                    </thead>

                    <tbody>

                        <?php
                        
                     $templateRegistros = $arrayEntradaProduto->count();
                        
                        foreach ($arrayEntradaProduto as $objEntradaProdutoVO) {
                            /* @var $objProjetoPoliticoPedagogicoVO ProjetoPoliticoPedagogicoVO */
                            ?>

                            <tr>                                       
                                  <td><?php echo $objEntradaProdutoVO->getId(); ?></td>
                                <td><?php echo $objEntradaProdutoVO->getNomeEntregador(); ?></td>
                                   <td><?php echo $objEntradaProdutoVO->getDataInclusao();?></td>
                                   <td><?php echo $objEntradaProdutoVO->getObservacao(); ?></td>          
                            </tr>
                            <?php
                        }
                        ?>


                    </tbody>
                </table>


                <br><br>           
            </div>
        </div>
    </div>
</div>

