<?php

use module\almoxarifado\consts\StatusConsts;
use config\SystemConfig;
use module\almoxarifado\helper\UsuarioHelper;
?>
<!-- Conteúdo -->
<style>
    .table {        
        border: 1px solid #cecece;
    }
    .table thead{
        background: #9e9e9e;
        font-weight: bold;
        color: #FFFFFF;    

    }
    .pull-left{
    max-width: 70px;    
        
    }



</style>

<section class="pg-adicionar form visualizar-impressao">
    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 m-t-20 fix">
            <div class="card">
                 <div class="header">
                    <div class="pg-visualizar c-header"> 
                        <div class="row">
                            <div class="box-topo clearfix">        
                                <img src="<?php echo SystemConfig::LOGO_GOV_IMG; ?>" class="pull-left pos-fix logo-top-gov"/>
                                <img src="<?php echo SystemConfig::LOGO_APP_IMG; ?>" class="pull-right logo-top-app"/>
                            </div>
                        </div>
                    </div>
                     </br>
                     <center><h2><?php echo $pageTitle; ?></h2></center>                           
                </div>
                <div class="body">
                    <!-- CONTEUDO -->
                    <div class="relatorio">
                        <div class="">
                            <div class="row">
                                <div class="col-lg-12 /*col-lg-offset-2*/">            

                                    <h4>Visualizar Entrada de Produto</h4>
                                    <table class="table table-striped"> 
                                        <thead>
                                            <tr>                                                                              
                                                <th>Código</th>
                                                <th>Data Entrada</th>
                                                <th >Nome do Entregador</th>
                                                <th >Observações</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>                                       
                                                <td><?php echo $objEntradaProdutoVO->getId(); ?></td>
                                                <td><?php echo $objEntradaProdutoVO->getDataInclusao(); ?></td>  
                                                <td><?php echo $objEntradaProdutoVO->getNomeEntregador(); ?></td>
                                                <td><?php echo $objEntradaProdutoVO->getObservacao(); ?></td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <h4>Lista de produtos</h4>
                                    <table class="table table-striped"> 
                                        <thead>
                                            <tr>                                                                              
                                                <th>Produto</th>
                                                <th>Quantidade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php
                                            foreach ($objEntradaProdutoVO->getItemEntradaProdutoArrayIterator() as $objItemEntradaProdutoVO) {
                                                ?>
                                                <tr>                                       
                                                    <td>  <?php echo $objItemEntradaProdutoVO->getIdProduto()->getNome(); ?>  </td>
                                                    <td>  <?php echo $objItemEntradaProdutoVO->getQuantidade(); ?>  </td>
                                                </tr>                            
                                                <?php
                                            }
                                            ?>
                                        </tbody>
                                    </table>
                                    <div class="form-group botao m-t-20 no-media-print">
                                        <div class="">
                                            <a class="btn bg-grey waves-effect 
                                               "  href="javascript:window.print()">
                                                <i class="material-icons">print</i>
                                                <span class="m-r-10">Imprimir Registro</span>
                                            </a>    
                                            <a  href="javascript:window.close()" class="btn bg-red waves-effect ">
                                                <i class="material-icons">reply</i>
                                                <span class="m-r-10">Fechar</span>
                                            </a>                                        
                                        </div>
                                    </div>

                                    <br><br>           
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--CONTEUDO-->
                </div>



            </div>

        </div>
        <!-- #FIM teste -->
    </div>
</section>
<!-- #FIM Conteúdo -->


