<div class="custom_content custom">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-5  ">

            </div>
            <div class="col-xs-12 col-sm-5 custom_right">
                <div class="single_content_left">
                    <form action="/login" method="post" name="frmLogin" id="frmLogin" class="apply_from">
                        <h3>Login</h3> 
                        <!--                        <h4>INFORMAÇÕES PESSOAIS</h4>-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="label">Email</div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="text-field">
                                        <input maxlength="30" type="text" placeholder="Digite seu e-mail" class="form-control" name="email">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="label">Senha </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="text-field">
                                        <input maxlength="30" type="password" placeholder="Digite sua senha" class="form-control" name="senha">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="col-sm-12 col-lg-12">
                            <div class="submit">
                                <button  type="submit" class="btn btn-primary">Entrar</button>
                                <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/inicio"  class="btn btn-primary">
                                    <span >Voltar</span>
                                </a>
                                <div class="col-xs-12 col-sm-12">

                                </div>
                            </div>
                        </div>
                    </form> <!--</form>-->
                </div>

            </div>
        </div>
    </div>
</div>