/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11/11/2017, 10:33:20
    Author     : JUDAPASSOS
*/





/* Login Page ================================== */
.login-page {
    /*background-color: #4771a7;*/
    background-color: #fff;
     background-image: url(../../../../public/sistema/login/img/bg-azul.png)!important;
    padding-left: 0;
    max-width: 360px;
    margin: 5% auto;
    overflow-x: hidden; }
.login-page .login-box .msg {
    color: #555;
    margin-bottom: 30px;
    text-align: center; }
.login-page .login-box a {
    font-size: 14px;
    text-decoration: none;
    color: #00BCD4; }
.login-page .login-box .logo {
    margin-bottom: 60px;
    text-align: center;
}
.login-page .login-box .logo-img {
    margin-bottom: 20px;
    text-align: center;
}
.login-page .login-box .logo a {
    font-size: 36px;
    display: block;
    width: 100%;
    text-align: center;
    color: #4771a7;
}
.login-page .login-box .logo small {
    display: block;
    width: 100%;
    text-align: center;
    color: #4771a7;
    margin-top: -5px; }