<div class="custom_content custom">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-5  ">

            </div>
            <div class="col-xs-12 col-sm-5 custom_right">
                <div class="single_content_left">
                    <form action="/login" method="post" name="frmLogin" id="frmLogin" class="apply_from">
                        <h3>Cadastre-se</h3> 
                        <!--                        <h4>INFORMAÇÕES PESSOAIS</h4>-->
                        <div class="form-group">
                            <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">Nome Completo <span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="text" class="form-control" name="nome">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">Email <span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">CPF <span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="text" class="form-control" name="cpf">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">Senha <span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="password" class="form-control" name="senha">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">Confirmar senha <span class="error">*</span> </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="password" class="form-control" name="confirmar_senha">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">Gênero <span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <select name="genero" class="option-select">
                                            <option selected >Selecione</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Feminino</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-12">
                            <div class="submit">
                                <button  type="submit" class="btn btn-primary">Entrar</button>
                                <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/inicio"  class="btn btn-primary">
                                    <span >Voltar</span>
                                </a>
                                <div class="col-xs-12 col-sm-12">

                                </div>
                            </div>
                        </div>
                    </form> <!--</form>-->
                </div>

            </div>
        </div>
    </div>
</div>