 .submit{
        text-align: center;
    } 
   .apply_from {
     margin-top: 70px;
     background-color:#0f10109e;
     padding-left: 70px;
     padding-right: 100px;
     padding-top: 60px;
     margin-left: -200px;
     padding-bottom: 125px;
     border-radius: 15px; 
    } 
    .h1, h2, h3, h4{
        color: #ffffff;
    }
    .apply_from .form-group .label{
        color: #ffffff;
    }
    
    .custom_content{
     padding: 0px 0px; 
     background-image: url("../../../..//core/styleguide/img/home/slider/fundo.jpg");
     height: 650px;
    }