/*================= 20. Coming Soon ==================*/
/*=== 1. Coming Soon Light ===*/
.cooming-page{
	text-align: center;
}
.cooming-page .page-banner {
	height: 200px;
	position: relative;
	width: 100%;
	color: rgba(255, 255, 255, 0.7);
    p{
    	font-size: 20px;
    	margin-bottom: 0;
    	@include tablet-up  {
			font-size: 30px;
		}
    }
    .banner-inner{
	    bottom: 80px;
	    width: 100%;
	    left: 0;
	    .top-headline{
	    	color: rgba(255, 255, 255, 0.7);
	    	font-size: 40px;
	    	line-height: 40px;
	    	font-weight: 400;
	    	display: inline-block;
	    	margin: 0 auto 10px;
	    	@include only-mobile {
				font-size: 28px;
	    		line-height: 28px;
			}
			@include tablet-up {
				font-size: 43px;
	    		line-height: 43px;
			}
			@include desktops {
				font-size: 53px;
	    		line-height: 53px;
			}
	    } 
    }
}
.cooming-dark-page .page-banner .overlay {
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 40px 0;
    width: 100%;
    display: block;
}
.cooming-page h3{
	margin-bottom: 35px;
	font-weight: 400;
}
.count-down {
	margin: 35px auto 0;
}
#simple_timer{
	width: 100%;
	margin: 20px auto;
	@include tablet-up {
		width: 80%;
		margin: 30px auto;
	}
	@include desktops {
		width: 70%;
	}
	.table-cell{
		display: inline-block;
		margin: 0 15px;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
		@include only-mobile {
			margin: 0 20px;
		}
		@include tablet-up {
			margin: 0 40px;
		}
		@include desktops {
			margin: 0 50px;
		}
		.tab-val{
			font-weight: 100;
			font-size: 35px;
			line-height: 35px;
			
			display: block;
			padding-bottom: 8px;
			margin-bottom: 8px;
			@include only-mobile {
				font-size: 30px;
				line-height: 32px;
			}
			@include tablet-up {
				font-size: 45px;
				line-height: 45px;
				padding-bottom: 15px;
				margin-bottom: 15px;
			}
			@include desktops {
				font-size: 65px;
				line-height: 65px;
			}
		}
		.tab-metr{
			font-size: 12px;
			font-weight: 300;
			text-transform: uppercase;
			@include tablet-up {
				font-size: 15px;
			}
		}
	}
}
.cooming-page .light-section{
	.newsletter{
		width: 100%;
		background: transparent;
		padding: 0;
		display: inline-block;
		margin: 20px auto;
		clear: both;
		@include tablet-up {
			width: 60%;
			margin: 30px auto;
		}
		@include desktops {
			width: 50%;
		}
	}
}
.cooming-page .ed-form{
	display: table;
    width: 100%;
}
.cooming-page .ed-form .form-group {
    width: 80%;
    margin: 0 auto 15px;
    display:block;
    @include desktops {
    	width: 77%;
    	display:inline-block;
    	float: left;
    	margin-bottom: 0;
    }
     @include large-desktops {
     	width: 80%;
    }
}
.cooming-page .ed-form .btn {
	margin: 0 auto;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	@include tablet-up {
		margin: 0 0 0 10px;
	}
}
.cooming-page .social-icon{
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 25px 0;
	h3{
		margin: 0 auto 25px;
		@include tablet-up {
			margin: 0 auto 35px;
		}
	}
}
.cooming-page .social-icon ul li{
	display: inline-block;
	a i{
	    width: 35px;
	    height: 35px;
	    font-size: 22px;
	    color: rgba(255, 255, 255, 0.5);
	}
} 
.cooming-page .social-icon ul li a:hover i{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

/*=== 2. Coming Soon Dark ===*/
.cooming-dark-page{
	background: url("../img/home/paralax/paralax02.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  .main_wrapper {
	    background-color: transparent;
	    width: 100%;
	    float: left;
	}
}
.cooming-page.cooming-dark-page .light-section{
	background: transparent;
}
.cooming-page.cooming-dark-page h3{
	color: #ffffff;
}
.cooming-page.cooming-dark-page #simple_timer{
	color: #ffffff;
	.table-cell{
		.tab-val{
			border-bottom: 2px solid #fff;
		}
		.tab-metr{
			color: #ffffff;
		}
	}
}
.cooming-page.cooming-dark-page .ed-form .form-group .form-control {
	color: #ffffff;
	border: 1px solid #fff;
	background: transparent;
	&:focus{
		border: 1px solid $second-bg-color;
	}
}
.cooming-page.cooming-dark-page .social-icon ul li a {
    color: rgba(0, 0, 0, 0.5);
}
