<?php
use config\SystemConfig;
use core\helper\FormatHelper;
?>

<section class="content pg-adicionar form">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <?php echo $pageTitle; ?>
            </h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <!-- filtros -->
                        <h4>Filtros</h4>
                        <!-- CONTEUDO -->
                        <form role="form" action="" name="frmFiltrarProduto" id="frmFornecedor" method="post">

                            <div class="row">
                                <div class="col-md-6  col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-5  col-sm-6 col-xs-12">
                                            <label for="NOME" >Nome do Produto:</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input  type="text" name="NOME" class="form-control" id="NOME"  maxlength="100">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-3  col-sm-6 col-xs-12">
                                            <label for="CODIGO" >Código:</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input  type="text" name="CODIGO"  class="form-control" id="CODIGO"  maxlength="8">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class=""> 
                                    <button  type="submit" class=" col-white btn list-unstyled  palette-Blue-800 bg waves-effect border-radius-5 btn-salvar">
                                        <i class="material-icons">search</i>
                                        <span class="m-r-10">Pesquisar</span>
                                    </button>
                                    <button  type="button"  class="btn bg-orange waves-effect border-radius-5" form-reset>
                                        <i class="material-icons">rotate_left</i>
                                        <span class="m-r-10">Limpar Filtro</span>
                                    </button>

                                </div>
                            </div>
                        </form>
                        <!-- exit filtros -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <a  href="<?php echo $systemConfig::SYSTEM_ROOT ?>/produto/adicionar" class="btn bg-green waves-effect border-radius-5">
                            <i class="material-icons">add</i>
                            <span class="m-r-10">Adicionar</span>
                        </a>                     
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable" >
                                <thead>
                                    <tr>
                                        <th class="actions">Ação</th>
                                        <th>Nome</th>
                                        <th>Código</th>
                                        <th>Quantidade</th>
                                        <th>Unidade</th>
                                        <th>Categoria</th>
                                        <th>Descrição</th>
                                        <th>Observação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($arrayProduto as $produto) { ?>
                                        <tr id="tr<?php echo $produto->getId(); ?>">
                                            <td class="align-center"  >
                                                <div class="btn-group tableAction">
                                                    <button type="button" class="btn btn-default waves-effect dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">keyboard_arrow_down</i>
                                                    </button>
                                                    <ul class="dropdown-menu ">
                                                        <li>
                                                            <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/produto/alterar/<?php echo $produto->getId(); ?>" ><i class="material-icons bg-orange padding-5 ">create</i>&nbsp;Alterar</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>/produto/excluir/<?php echo $produto->getId(); ?>" target-id="<?php echo $produto->getId(); ?>" class="alert-confirm-excluir"><i class="material-icons bg-red padding-5 ">delete_forever</i>&nbsp;Excluir</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?php echo $systemConfig::SYSTEM_ROOT ?>#"><i class="material-icons bg-blue-grey padding-5 ">print</i>&nbsp;Imprimir Registro</a>
                                                        </li>
                                                    </ul>
                                                </div>     
                                            </td>
                                            <td><?php echo $produto->getNome() ?></td>
                                            <td><?php echo $produto->getCodigo() ?></td>
                                            <td><?php echo $produto->getQuantidade() ?></td>
                                            <td><?php echo $produto->getIdUnidade()->getNome() ?></td>
                                            <td><?php echo $produto->getIdCategoria()->getNome() ?></td>
                                            <td><?php echo $produto->getDescricao() ?></td>
                                            <td><?php echo $produto->getObservacao() ?></td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>