<?php

use config\SystemConfig;
use module\almoxarifado\vo\ProdutoVO;
?>
<style>
    .table thead{
    background: #194E91;  
    color: #ffffff;
    border: 1px solid #cecece;    
     
    }
    
    
</style>

<div class="relatorio">
    <div class="">
        <div class="row">
            <div class="col-lg-12 /*col-lg-offset-2*/">            

                <table class="table table-striped"> 
                    <thead>
                        <tr>                                                                              
                            <th >Nome</th>
                            <th >Código</th>
                            <th >Quantidade</th>
                            <th >Unidade</th>
                            <th >Categoria</th>
                            <th >Descrição</th>                                                                                                                                                                                                                        
                            <th >Observação</th>                                
                        </tr>
                    </thead>

                    <tbody>

                        <?php
                        
                     $templateRegistros = $arrayProduto->count();
                        
                        foreach ($arrayProduto as $objProdutoVO) {
                            /* @var $objProjetoPoliticoPedagogicoVO ProjetoPoliticoPedagogicoVO */
                            ?>

                            <tr>                                       
                                <td><?php echo $objProdutoVO->getNome(); ?></td>                                        
                                <td><?php echo $objProdutoVO->getQuantidade(); ?></td> 
                                <td><?php echo $objProdutoVO->getCodigo(); ?></td> 
                                <td><?php echo $objProdutoVO->getIdUnidade()->getNome(); ?></td> 
                                <td><?php echo $objProdutoVO->getIdCategoria()->getNome(); ?></td> 
                                <td><?php echo $objProdutoVO->getDescricao(); ?></td> 
                                <td><?php echo $objProdutoVO->getObservacao(); ?></td> 
                            </tr>
                            <?php
                        }
                        ?>


                    </tbody>
                </table>


                <br><br>           
            </div>
        </div>
    </div>
</div>

